
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: cursive, sans-serif;
}

.background{
    min-height: 100vh;
    background-color: #222;
    text-align: start;
}

.header{
    margin-bottom: 70px;
}