
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, p, a, button, input {
    font-family: "Roboto", sans-serif;
}

.background{
    min-height: 100vh;
    background-color: #222;
    text-align: start;
}

.header{
    margin-bottom: 70px;
}